<%
	def getConfigValue(key, defaultValue)
		value = Property.value(key, @project.id, '');
		
		if (value.blank?)
			value = configuration(key);
		end
		
		if (value.blank?)
			value = defaultValue || '';
		end
		
	   	return value;
	end

	location = getConfigValue('es.excentia.sonar.logo.imglocation', '');
	link = getConfigValue('es.excentia.sonar.logo.link', '');
	alttext = getConfigValue('es.excentia.sonar.logo.alttext', '');
	style = getConfigValue('es.excentia.sonar.logo.style', 'width: 100%;');
	
	if (!location.blank?)
		if location.starts_with?'sources:'
			src = ApplicationController.root_context + '/api/plugins/logo/getLogo?project=' + @snapshot.project_id.to_s;
		else
			src = location;
		end
%>
<a href="<%= link -%>" target="_blank">
  <img src="<%= src -%>" alt="<%= alttext -%>" title="<%= alttext -%>" style="<%= style -%>" />
</a>
<% 
	end 
%>